parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$bulk_handler\.$#'
			identifier: property.notFound
			count: 1
			path: src/Jobs/SendMessageJob.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$message_count\.$#'
			identifier: property.notFound
			count: 1
			path: src/Jobs/SendMessageJob.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$receiver\.$#'
			identifier: property.notFound
			count: 1
			path: src/Jobs/SendMessageJob.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$receiver_id\.$#'
			identifier: property.notFound
			count: 2
			path: src/Jobs/SendMessageJob.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$receiver_type\.$#'
			identifier: property.notFound
			count: 1
			path: src/Jobs/SendMessageJob.php

		-
			message: '#^PHPDoc tag @var with type Illuminate\\Mail\\Message is not subtype of native type Symfony\\Component\\Mime\\Email\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Listeners/AddBccToEmailsListener.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/MailHandler/MainMailHandler.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\:\:direct\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Models/Message.php

		-
			message: '#^PHPDoc tag @return with type Illuminate\\Database\\Eloquent\\Model\|Illuminate\\Database\\Eloquent\\Relations\\MorphTo\|Topoff\\MailManager\\Contracts\\MessageReceiverInterface is not subtype of native type Illuminate\\Database\\Eloquent\\Relations\\MorphTo\.$#'
			identifier: return.phpDocType
			count: 1
			path: src/Models/Message.php

		-
			message: '#^Method Topoff\\MailManager\\Notifications\\NovaChannelNotification\:\:toVonage\(\) has invalid return type Illuminate\\Notifications\\Messages\\VonageMessage\.$#'
			identifier: class.notFound
			count: 1
			path: src/Notifications/NovaChannelNotification.php

		-
			message: '#^Call to method content\(\) on an unknown class Illuminate\\Notifications\\Messages\\VonageMessage\.$#'
			identifier: class.notFound
			count: 1
			path: src/Notifications/NovaChannelNotification.php

		-
			message: '#^Instantiated class Illuminate\\Notifications\\Messages\\VonageMessage not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Notifications/NovaChannelNotification.php
